.landing-content {
	position: relative;
	padding-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing-content h4 {
	margin-top: -10px;
}
.landing-content p {
	text-align: center;
	padding: 10px;
	margin-top: -10px;
	border-bottom: 1px solid black;
}

.landing-example {
	width: 100%;
}

.landing-example p {
	margin-left: auto;
	margin-right: auto;
}
.landing-example img {
	width: 100%;
}

#desktop-example {
	display: none;
}

@media only screen and (min-width: 700px) {
	.landing-content {
		margin-left: auto;
		margin-right: auto;
	}

	.landing-example {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	#mobile-example {
		display: none;
	}
	#desktop-example {
		display: block;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}
