.albumPage-container {
	width: 100%;
	padding-top: 0px;
	font-size: 30px;
}

.albumPage-container p {
	font-size: 30px;
	height: 5px;
	width: 100%;
}

.albumPageBtnContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#removeAlbumBtn {
	font-size: 20px;
}

@media only screen and (min-width: 700px) {
	.albumPageBtnContainer {
		margin-bottom: 20px;
	}

	#removeAlbumBtn {
		border: none;
		background-color: transparent;
	}
}
