.gridImg {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.image-container {
	position: relative;
	width: 125px;
	height: 125px;
	overflow: hidden;
	border: 1px solid white;
}
