.albums-bar {
	position: relative;
	display: block;
	background-color: white;
	width: 100%;
	height: 100px;
}

.albums-bar ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 0;
}

.albums-bar ul li {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: grey;
}
.albums-bar ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

#album1 {
	background: url('http://beardystudios.com/ZURICH_SITE/images/photography/faces/portraits/03.jpg');
	background-size: 150px;
	background-position: -2em;
	background-repeat: no-repeat;
}

#album2 {
	background: url('http://beardystudios.com/ZURICH_SITE/images/photography/food/lunch/02.jpg');
	background-size: 100px;
	background-repeat: no-repeat;
}

#album3 {
	background: url('http://beardystudios.com/ZURICH_SITE/images/photography/earth/sand/03.jpg');
	background-size: 150px;
	background-position: -2em;
	background-repeat: no-repeat;
}

#album4 {
	background: url('http://beardystudios.com/ZURICH_SITE/images/photography/earth/waterscapes/01.jpg');
	background-size: 150px;
	background-position: -2em;
	background-repeat: no-repeat;
}
