nav {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.navBar {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #2d2d44;
	padding: 0px;
	margin: 0;
	z-index: 1;
}

.navBar ul {
	list-style: none;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

.navBar ul li a {
	text-decoration: none;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.navBar img {
	height: 40px;
	padding: 0;
	margin-top: 5px;
}
